<div class="container-fluid">
    <ngb-carousel *ngIf="products">
        <ng-container *ngFor="let p of products; let i = index">
            <ng-template ngbSlide>
                <div class="wrapper">
                    <app-product-image [productType]="p?.productType"></app-product-image>
                </div>
                <div class="carousel-caption  ">
                    <div class="font-size-custom-description gradient-bg">
                        {{p.description}}
                    </div>
                    <div>
                        <a class="btn add-to-cart font-size-custom" (click)="showAddToCartModal(p?.id)">Detalles del Producto</a>
                    </div>

                </div>
            </ng-template>
        </ng-container>
    </ngb-carousel>
</div>