.hero {
    background-color: #25ae62;
}


/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */

.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: #212529;
}